<div class="alert alert-primary" role="alert">
  Crescimento para se desenvolver profissionalmente
</div>
<div class="alert alert-secondary" role="alert">
  Cresicmneot constante, para conhecer novas tecnologias sempre se aprimorando
</div>
<div class="alert alert-success" role="alert">
  Estiudar smepre é maravilhoso, para evoluir melhro ainda no aprofundamento
</div>
<div class="alert alert-danger" role="alert">
  Estudo smepre é a atulização do conheicmetno profissional dedicado
</div>
<div class="alert alert-warning" role="alert">
  Aprofundar para conhecer ainda mais sobre a tenologia para sempre estar atualizado
</div>
<div class="alert alert-info" role="alert">
  Cresicmeniot profissional sempre é fundamen tal para evoluir
</div>
<div class="alert alert-light" role="alert">
  Dedicar para semprem estar atualizado na profissão que podemos aprofundar melhor
</div>
<div class="alert alert-dark" role="alert">
  Estudar é fundamental para o cresicmento profissional, sempre quando tiver tempo é boma tualizar
</div>

<h2>{{ somar() }}</h2>

<h2>{{ subtrair() }}</h2>

<h2>{{ divisao() }}</h2>

<h2>{{ operacao() }}</h2>
